@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
    box-sizing: border-box;
    scrollbar-color: var(--color-primary) var(--body-background-color);
    scrollbar-width: thin;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    /* Base kleuren */
    --color-base-100: #3F2A52;
    --color-base-200: #3A2D34;
    --color-base-300: #75619D;
    --color-base-content: #E6EFF7;

    /* Accent kleuren */
    --color-primary: #3F2A52;
    --color-primary-content: var(--color-base-content);

    --color-secondary: #75619D;
    --color-accent: #BAAEDB;

    /* Feedback */
    --color-error: #FF3B3B;
    --color-warning: #FFCC00;
    --color-info: #0063F7;
    --color-success: #06C270;
}

html {
    scroll-behavior: smooth;

    --body-background-color: var(--color-base-200);
    --body-background-lighter-color: var(--color-base-300);
    --body-background-lightest-color: var(--color-accent);

    --primary-color: var(--color-primary);
    --primary-hover-color: hsl(from var(--color-primary) h s calc(l + 12));
    --secondary-color: var(--color-secondary);
    --secondary-hover-color: hsl(from var(--color-secondary) h s calc(l + 12));
    --outline-color: var(--color-accent);

    --text-color: var(--color-base-content);
}

@theme {
    --color-body: var(--body-background-color);
    --color-body-light: var(--body-background-lighter-color);
    --color-body-light-2: var(--body-background-lightest-color);

    --color-primary: var(--primary-color);
    --color-primary-hover: var(--primary-hover-color);

    --color-secondary: var(--secondary-color);
    --color-secondary-hover: var(--secondary-hover-color);

    --color-outline: var(--outline-color);
    --color-text: var(--text-color);
}

body {
    background-color: var(--color-base-100);
}

#root {
    display: flex;
    flex-direction: column;

    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);

    background-color: var(--body-background-color);
    min-height: 100vh;
    margin: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 600;
    margin: 0;
    color: var(--text-color);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 16px;
    font-weight: 300;
}

p {
    margin: 0;
    color: var(--text-color);
}

/* Layout */
main {
    position: relative;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 12px;
}

/* Links */
a {
    color: var(--color-accent);
    text-decoration: none;
    transition: color 100ms ease-in-out;
}

a:hover {
    color: var(--color-base-content);
}

/* Inputs */
button,
input,
textarea,
select {
    font: inherit;
}

/* Range slider */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    background-color: var(--primary-color);
    border-radius: calc(infinity * 1px);
    transition: background-color 100ms;
    cursor: pointer;

    width: 36px;
    height: 24px;
}

input[type=range]::-moz-range-thumb {
    background-color: var(--primary-color);
    border-radius: calc(infinity * 1px);
    cursor: pointer;

    width: 36px;
    height: 24px;
    border: none;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: hsl(from var(--color-primary) h s calc(l - 12));
}

input[type=range]::-moz-range-thumb:hover {
    background-color: hsl(from var(--color-primary) h s calc(l - 12));
}